<html>
  <head><title>Federalist Index</title></head>
  <body>
    <h3>Federalist Index</h3>
    <table>
      <tr>
        <th>No.</th>
        <th>Author</th>
        <th>Title</th>
        <th>Pub</th>
      </tr>
      <!-- loops over this for each federalist  -->
      <tr>
        <td><%= @number %></td>
        <td><%= @author %></td>
        <td><%= @title %></td>
        <td><%= @pub %></td>
      </tr>
      <% @feds.each do |users| %>
        <% do 

        %>
        <%end>
    </table>
  </body>
</html>
